<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{{ appInfo.name }}{% endblock %}</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {% block stylesheets %}
    {{- encore_entry_link_tags('app') }}
  {% endblock %}
  {%- block javascripts -%}
    <script>window.app = {{ appInfo|json_encode|raw }}</script>
    {{- encore_entry_script_tags('app') }}
  {% endblock %}
</head>
<body>
  <noscript>Javascript required to make app running smoothly. Please enable your javascript or upgrade to latest browser.</noscript>
  <div id="appx">
    <div id="loadx" class="min-vh-100 d-flex justify-content-center align-items-center">
      <div class="spinner-border text-secondary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="text-secondary ms-3">Loading awesome, please wait...</div>
    </div>
  </div>
</body>
</html>